os: linux

language: cpp
compiler: gcc

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-7
      - cppcheck

before_script:
  - export CC=gcc-7
  - export CXX=g++-7

script:
  - bash -e ./tools/check_style.sh
  - bash -e ./tools/check_code.sh
  - mkdir build
  - cd build
  - cmake ../ && make && make test && make benchmark_run
